@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar {
    @apply fixed top-0 left-0 h-screen flex flex-col shadow-lg bg-gray-50
  }

  .main-container {
    margin-left: 224px;
    @apply h-full w-full ml-[224px]
  }

  .top-bar {
    z-index: 99999999;
    @apply fixed navbar w-screen bg-gray-50 mb-[48px] top-0 
  }
}
  