@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  
  .sidebar {
    @apply fixed top-0 left-0 h-screen flex flex-col shadow-lg bg-gray-50
  }

  .main-container {
    margin-left: 224px;
    @apply h-full w-full ml-[224px]
  }

  .top-bar {
    z-index: 99999998;
    @apply fixed navbar w-screen bg-gray-50 mb-[48px] top-0 
  }

  .print-btn {
    z-index: 99999999;
    @apply btn btn-primary fixed top-2 right-2 text-white
  }

  .filter {
    z-index: 99999999;
    @apply form-control fixed top-2 right-[145px] rounded
  }

  /* Makes some objects to stop overlapping */
  .stop-stretching {
    width: 150px;
  }

  .content {
    @apply mt-[100px] m-5
  }
}
  